<!DOCTYPE html>
<html lang="ko">
<!-- static 적용하려면 필수로 명시해야 함-->
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>main 페이지</title>
    <link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
</head>
<body>
    <div id="container">
        <section id="main">
            <h1>설문 목록</h1>
            <hr>
            {% if question_list %}
            <ul>
                {% for question in question_list %}
                <li>
                    <a href="{% url 'poll:detail' question.id %}">
                    {{ question.question_text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>설문이 없습니다.</p>
            {% endif %}
            <img src="{% static 'poll/images/vote.png' %}">
        </section>
    </div>
</body>
</html>