<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>안녕하세요</title>
</head>
<body>
    <h1>{{ question.subject }}</h1>
    <h3>{{ question.content }}</h3>
    <div>
        <ul>
            {% for answer in question.answer_set.all %}
                <li>{{ answer.content }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- 답변 등록 폼 -->
    <form action="{% url 'board:answer_create' question.id %}" method="post">
        {% csrf_token %}    <!--어떤 폼이든 폼 아래는 보안 {% csrf_token %} 반드시 기입해줘야한다.-->
        <div>
            <textarea name="content" rows="10" cols="50"></textarea>
        </div>
        <button type="submit" >답변 등록</button>
    </form>
</body>
</html>