{% extends 'base.html' %}   <!--베이스를 상속받았습니다. -->
{% block content %}
<div class="container">
    <h1>Blog 홈</h1>
    {% if post_list %}
        <!-- 포스트 가져옴 -->
        {% for post in post_list %}     <!-- 리스트가 여러개니까 post_list를 가져와서 post라는 변수에 할당해서 endfor 종료를 시켜놓고 -->
            <h3 class="my-3">
                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a> <!-- 제목 불러와서 출력해주고 post. 하고 title 하는건 for문에서 post_list를 for post 로 설정해줬기 때문에 -->
            </h3>
            <h5 style="white-space: pre-line; line-height: 1.5;">   <!-- style로 공간 띄우고 line-height로 반칸 더 공간을 띄어줌 -->
                {{ post.content }}      <!-- 내용 불러옴 -->
            </h5>
            <p>(작성일: {{ post.pub_date }})</p> <!-- pub_date로 날짜 불러옴 -->
            {% if post.photo %}
                <img src="{{ post.photo.url }}">
            {% endif %}
        {% endfor%}     <!-- for문 종료 -->
    {% else %}      <!-- if문 else -->
        <p>포스트가 없습니다.</p>
    {% endif %}
</div>
{% endblock %}