@charset 'utf-8';
/* 공통 스타일 */
#container{width: 80%; margin: 50px auto; }
h1{color: #00f; border-bottom: 2px solid #ccc;
    padding-bottom: 15px;}
a{text-decoration: none;}

/* main 스타일 */
#main{width: 80%; margin: 100px auto;}
#main img{width: 200px; height: 200px;}
#main .poll{float: left; margin-left: 250px;}
#main .ocr{float: right; margin-right: 250px;}
#main p{text-align: center;}

/* poll_list 스타일 */
#poll_list{width: 80%; margin: 0 auto;}
#poll_list img{width: 200px; height: 200px; margin: 50px 0 0 50px;}
#poll_list ul{padding-left: 20px;}
#poll_list ul li{margin: 30px 0; list-style: circle;}
#poll_list ul li a:hover{text-decoration: underline;}

/* detail 스타일 */
#detail{width: 80%; margin: 0 auto;}
#detail form{width: 50%; margin-top: 20px;}
#detail .error{color: #f00;}

/* result 스타일 */
#result{width: 80%; margin: 0 auto;}
#result ul{padding-left: 40px;}
#result ul li{margin: 20px 0; list-style: circle;}
