<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- 왼쪽 로고 -->
    <a class="navbar-brand" href="/">Pyweb</a>  <!-- url로 할것없이 / 루트로 설정하면 홈으로 이동 -->
    <!-- button이 햄버거 메뉴야~ -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- 로그인 -->
        <li class="nav-item">
          {% if user.is_authenticated %}  <!-- 로그인 되었으면 -->
            <a class="nav-link" href="{% url 'common:logout' %}">
              {{ user.username }}(로그아웃)
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
          {% endif %}
        </li>
        <!-- 질문/답변 -->
        <li class="nav-item">
          <!--href="/board" 절대 경로 사용 가능하지만 url로 사용하는걸 추천-->
          <a class="nav-link" href="{% url 'board:question_list' %}">질문/답변</a>
        </li>

      </ul>
    </div>
  </div>
</nav>